body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #212121;
  background: white;
  text-decoration: none;
  width: 1600px;
}
:root {
  --color: #212121;
  --background-color: #ffffff;
}
.nav-item {
  text-decoration: none;
}
.main-page {
  width: 1600px;
  background-color: #2f303a;
  background: #2f303a;
  padding: 200px 452px 200px 452px;
  text-align: center;
  height: 600px;
  left: 0px;
  top: 80px;
}

.theme-website {
  margin: 0;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 0 30px 0;
}

.name-teamworker {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  color: #212121;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.role-name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  color: #757575;
  text-decoration: none;

  display: flex;
  justify-content: center;
}

.portfolio-item {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: #212121;
  text-decoration: none;
}
.portfolio-name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  color: #757575;
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}

.logo-item {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
}
.definition {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  text-transform: uppercase;
}

.definition-item {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}

.link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.contact-item {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  text-decoration: none;
}

.button-list .button-type:focus,
.button-list .button-type:hover {
  background-color: #2196f3;
  color: white;
  cursor: pointer;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 0px 22px;
}
.contact-item:hover,
.contact-item:focus,
.contact-footer:hover,
.contact-footer:focus {
  color: #2196f3;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
.footer {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
  display: flex;
  padding-top: 60px;
  margin: 0px;
}
.contact-footer {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 171%;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  padding-bottom: 60px;
}
bv .logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
}
.container {
  width: 1200px;
  margin: 0 200px;
}
.container-item {
  width: 572px;
  padding-top: 94px;
  padding-bottom: 34px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
.button-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background: #2196f3;
  max-width: 200px;
  height: 50px;
  padding: 10px 40px;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 50px;
}

.text-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.definition-lorem {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-top: 94px;
}
.box-lorem {
  line-height: 171%;
  color: #757575;
}
.photos {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 94px;
}
.team-box {
  width: 1600px;
  background-color: #f5f4fa;
}
.heading-team {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 50px;
}
.team-item {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-photos {
  display: flex;
  width: 1600;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 30px;
  padding: 215 94 215 94;
  margin: 0;
}
.our-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.town {
  font-size: 14px;
  line-height: 171%;
  color: #ffffff;
  letter-spacing: 0.03em;
  padding: 0 0 0 0;
}
.contact-footer-mail {
  font-size: 14px;
  line-height: 171%;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}
.navigation-item {
  display: flex;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  row-gap: 46px;
  padding-top: 32px;
  margin-left: 0;
}
.contact-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 295px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  width: 254px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 295px;
  row-gap: 50px;
  padding-top: 32px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 94px;
}
